html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 10px;
}

ul {
  width: 28%;
  position: absolute;
  list-style: none;
  bottom: 0;
  right: 2%;
}

li {
  float: left;
  padding-left: 5%;
}

li a {
  display: block;
  text-align: center;
}

.parent {
  position: relative;
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.main-box {
  float: left;
  width: calc(100% / 4 * 3 - 1px);
  height: 100%;
  border-right: 1px solid #d7d8d7;
}

.side-box {
  float: left;
  width: calc(100% / 4 - 1px);
  height: 100%;
  border-left: 1px solid #d7d8d7;
}

.main-header {
  position: relative;
  height: 10%;
  background-color: #f9faf9;
}

.side-header {
  height: 10%;
  background-color: #f9faf9;
}

#sideclose {
  position: absolute;
  z-index: 1;
  top: 3.3%;
  right: 1.5%;
  font-size: 2.5rem;
  color: #469789;
}

#mainlogo {
  position: relative;
  float: left;
  height: 100%;
}

#sidelogo {
  position: relative;
  height: 100%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
