html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f9faf9;
  color: #fefffe;
  overflow: auto;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-box {
  position: relative;
  float: left;
  width: calc(100% / 4 * 3 + 5px);
  height: 100%;
  border-right: 1px solid #808180;
  padding-bottom: 69.45%;
}

.side-box {
  position: relative;
  float: left;
  width: calc(100% / 4 - 6px);
  height: 100%;
}

.main-column {
  position: relative;
  left: 0.8%;
  width: 100%;
}

.side-column {
  position: relative;
  width: 100%;
}

.col-3 {
  position: relative;
  float: left;
  width: calc(100% / 3 - 2.1%);
  margin: 1.5% 0.8% 0;
}

.col {
  position: relative;
  width: 90%;
  height: 46%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 6%;
}

.main-header {
  position: relative;
  height: 12.1vh;
}

.side-header {
  height: 12.1vh;
}

.main-footer {
  position: absolute;
  width: 100%;
  height: 52.1%;
  bottom: 0;
  background-color: #253138;
  border-top: 1px solid #babfc0;
  border-right: 2px solid #babfc0;
}

.side-footer {
  position: relative;
  float: left;
  width: 100%;
  height: 10.5%;
  top: 3%;
  background-color: #253138;
}

#coloredList {
  background-color: #282626;
  color: #009588;
}

#brook,
#brook-title,
#jake,
#jake-title,
#allef {
  width: 100%;
  float: right;
  position: absolute;
}

#brook,
#brook-side,
#jake,
#jake-side,
#allef,
#allef-side {
  width: auto;
  position: absolute;
  font-size: 3.8rem;
  letter-spacing: 0.2rem;
  font-weight: bolder;
}

#brook-title,
#brook-title-side,
#jake-title,
#jake-title-side,
#allef-title,
#allef-title-side {
  width: auto;
  position: absolute;
  font-size: 1.81rem;
  font-weight: lighter;
}

#brook {
  width: 102%;
  left: 18.6%;
  top: 60%;
}

#brook-title {
  left: 77.9%;
  top: 72.2%;
}

#brook-side {
  left: 17.3%;
  top: 28%;
}

#brook-title-side {
  left: 73.7%;
  top: 31.9%;
}

#jake {
  width: 102%;
  left: 28.8%;
  top: 60.2%;
}

#jake-title {
  left: 62.7%;
  top: 72.5%;
}

#jake-side {
  left: 26.9%;
  top: 58.4%;
}

#jake-title-side {
  left: 59.2%;
  top: 62.2%;
}

#allef {
  width: 150%;
  letter-spacing: 0.3rem;
  left: 6.7%;
  top: 10%;
}

#allef-title {
  left: 58.1%;
  top: 22%;
}

#allef-text {
  width: 90%;
  position: absolute;
  font-size: 1.1rem;
  font-weight: lighter;
  letter-spacing: 0.05rem;
  left: 6.5%;
  top: 35.5%;
  line-height: 2rem;
}

#allef-side {
  letter-spacing: 0.15rem;
  left: 11%;
  top: 74%;
}

#allef-title-side {
  left: 54.5%;
  top: 77.7%;
}

#allef-text-side {
  width: 80%;
  position: absolute;
  font-size: 1.1rem;
  font-weight: lighter;
  letter-spacing: 0.05rem;
  left: 10%;
  top: 81.5%;
  line-height: 2rem;
}

.main-header ul {
  font-size: 1.6rem;
}

.main-footer p {
  font-size: 1.2rem;
}

.side-footer p {
  font-size: 1rem;
}

.side-box ul {
  font-size: 1.5rem;
}

#main-learn-more,
#side-learn-more {
  font-size: 2rem;
}

#brook,
#brook-side,
#jake,
#jake-side,
#allef,
#allef-side {
  font-size: 3.8rem;
}

#brook-title,
#brook-title-side,
#jake-title,
#jake-title-side,
#allef-title,
#allef-title-side {
  font-size: 1.81rem;
}

#allef-text {
  font-size: 1.1rem;
}

#allef-text-side {
  font-size: 1.1rem;
}

#header-text {
  font-size: 5.5rem;
}

.icons i {
  font-size: 2.5rem;
}

.icons-side i {
  font-size: 1.7rem;
}

#sideclose {
  font-size: 3rem;
}

@media screen and (min-width: 544px) and (max-width: 768px) {
  .main-header ul {
    font-size: 0.8rem;
  }

  .main-footer p {
    font-size: 0.6rem;
  }

  .side-footer p {
    font-size: 0.5rem;
  }

  .side-box ul {
    font-size: 0.75rem;
  }

  #main-learn-more,
  #side-learn-more {
    font-size: 1rem;
  }

  #brook,
  #brook-side,
  #jake,
  #jake-side,
  #allef,
  #allef-side {
    font-size: 1.9rem;
  }

  #brook-title,
  #brook-title-side,
  #jake-title,
  #jake-title-side,
  #allef-title,
  #allef-title-side {
    font-size: 0.905rem;
  }

  #allef-text {
    font-size: 0.55rem;
  }

  #allef-text-side {
    font-size: 0.55rem;
  }

  #header-text {
    font-size: 2.2rem;
  }

  .icons i {
    font-size: 1.25rem;
  }

  .icons-side i {
    font-size: 0.85rem;
  }

  #sideclose {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-header ul {
    font-size: 1.2rem;
  }

  .main-footer p {
    font-size: 1rem;
  }

  .side-footer p {
    font-size: 0.75rem;
  }

  .side-box ul {
    font-size: 1.1rem;
  }

  #main-learn-more,
  #side-learn-more {
    font-size: 1.4rem;
  }

  #brook,
  #brook-side,
  #jake,
  #jake-side,
  #allef,
  #allef-side {
    font-size: 2.85rem;
  }

  #brook-title,
  #brook-title-side,
  #jake-title,
  #jake-title-side,
  #allef-title,
  #allef-title-side {
    font-size: 1.4rem;
  }

  #allef-text {
    font-size: 0.8rem;
  }

  #allef-text-side {
    font-size: 0.8rem;
  }

  #header-text {
    font-size: 3.7rem;
  }

  .icons i {
    font-size: 1.75rem;
  }

  .icons-side i {
    font-size: 1.1rem;
  }

  #sideclose {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .main-header ul {
    font-size: 1.4rem;
  }

  .main-footer p {
    font-size: 1.2rem;
  }

  .side-footer p {
    font-size: 1rem;
  }

  .side-box ul {
    font-size: 1.4rem;
  }

  #main-learn-more,
  #side-learn-more {
    font-size: 1.7rem;
  }

  #brook,
  #brook-side,
  #jake,
  #jake-side,
  #allef,
  #allef-side {
    font-size: 3.5rem;
  }

  #brook-title,
  #brook-title-side,
  #jake-title,
  #jake-title-side,
  #allef-title,
  #allef-title-side {
    font-size: 1.6rem;
  }

  #allef-text {
    font-size: 1rem;
  }

  #allef-text-side {
    font-size: 1rem;
  }

  #header-text {
    font-size: 4.2rem;
  }

  .icons i {
    font-size: 2.15rem;
  }

  .icons-side i {
    font-size: 1.4rem;
  }

  #sideclose {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1540px) {
  .main-header ul {
    font-size: 2rem;
  }

  .main-footer p {
    font-size: 1.6rem;
  }

  .side-footer p {
    font-size: 1.5rem;
  }

  .side-box ul {
    font-size: 1.8rem;
  }

  #main-learn-more,
  #side-learn-more {
    font-size: 2.3rem;
  }

  #brook,
  #brook-side,
  #jake,
  #jake-side,
  #allef,
  #allef-side {
    font-size: 4.5rem;
  }

  #brook-title,
  #brook-title-side,
  #jake-title,
  #jake-title-side,
  #allef-title,
  #allef-title-side {
    font-size: 2.2rem;
  }

  #allef-text {
    font-size: 1.5rem;
  }

  #allef-text-side {
    font-size: 1.5rem;
  }

  #header-text {
    font-size: 6.5rem;
  }

  .icons i {
    font-size: 3.25rem;
  }

  .icons-side i {
    font-size: 2.1rem;
  }

  #sideclose {
    font-size: 4rem;
  }
}

.fa {
  position: relative;
}

.icons {
  position: relative;
  width: 20%;
  float: right;
  top: -2.5%;
  right: 1.5%;
  text-align: right;
}

.icons i {
  font-size: 2.5rem;
  color: #009588;
  margin-left: 2%;
}

.icons-side {
  position: relative;
  height: 30%;
  width: 100%;
  display: block;
  text-align: center;
}

.icons-side i {
  font-size: 1.7rem;
  color: #009588;
  margin-left: 1%;
}

#sideclose {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 3rem;
  color: #469789;
}

.col-3 img {
  position: relative;
  width: 100%;
  height: 100%;
}

.col img {
  position: relative;
  width: 100%;
  height: 100%;
}

#header-img {
  position: relative;
  width: 100%;
}

#header-text {
  position: absolute;
  z-index: 1;
  top: 6.5%;
  left: 1%;
  color: #fefffe;
  text-shadow:
    0.2rem 0.2rem 2rem black,
    0.1rem 0.1rem 1rem black;
}

#bottom-img {
  margin: 0;
}

#mainlogo {
  position: relative;
  float: left;
  height: 100%;
  width: 20%;
}

#sidelogo {
  position: relative;
  height: 98%;
  width: 65%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-header ul {
  width: 31%;
  float: right;
  position: absolute;
  list-style: none;
  bottom: 1%;
  right: 1%;
  color: #009588;
  text-align: right;
}

.main-header li {
  float: left;
  padding-left: 8%;
  letter-spacing: 0.05rem;
}

.main-footer p {
  left: 50%;
  width: 50%;
  position: relative;
  margin-right: 0;
  color: #ebeef1;
  text-align: center;
  top: 0.5%;
  transform: translateX(-50%);
}

.side-footer p {
  left: 50%;
  width: 100%;
  height: 30%;
  position: relative;
  margin-right: 0;
  color: #ebeef1;
  text-align: center;
  top: 8%;
  transform: translateX(-50%);
}

.side-box ul {
  width: 100%;
  float: left;
  display: block;
  list-style: none;
  bottom: 0;
  right: 2%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #282626;
}

.side-box li {
  z-index: 2;
  padding: 5% 0;
  border-bottom: 1px solid #282626;
}

.side-box li a {
  display: block;
  text-align: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 84%;
  bottom: 0.5%;
  opacity: 0.7;
  background-color: black;
}

.overlay-side {
  position: absolute;
  width: 100%;
  height: 84%;
  bottom: 0.5%;
  opacity: 0.7;
  background-color: black;
  z-index: 1;
}

#main-learn-more,
#side-learn-more {
  position: relative;
  float: left;
  color: #009588;
  text-decoration: underline;
}

#main-learn-more {
  top: 3.3%;
  left: 1%;
}

#side-learn-more {
  width: 55%;
  left: 6%;
  top: 1%;
  letter-spacing: 0.05rem;
}
